version: '3.8'

services:
  bind9:
    image: ubuntu/bind9:latest
    container_name: shared_geodns
    user: root
    ports:
      - "53:53/udp"
      - "53:53/tcp"
    volumes:
      - ./config:/etc/bind
      - ./records:/var/lib/bind
      - ./cache:/var/cache/bind
    environment:
      - BIND9_USER=root
      - TZ=UTC
    networks:
      - wp_shared_net
    restart: unless-stopped

networks:
  wp_shared_net:
    external: true
